<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>商品详情</title>
    <link rel="stylesheet" type="text/css" href="/css/web/common.css"/>
    <script type="text/javascript" src="/jquery-easyui/jquery.min.js"></script>
</head>
<body>
<img th:src="${sku.picture}"/>
<label>商品编号：</label>
<p th:text="${sku.number}"></p>
<label>商品名称：</label>
<p th:text="${sku.name}"></p>
<label>商品价格：</label>
<p th:text="${sku.price}"></p>
<input type="text" id="count" name="count"/>
<a href="#" onclick="addShoppingCart()">加入购物车</a>
<a href="/gd/shoppingcart/index.html">购物车</a>
<script th:inline="javascript">
    function addShoppingCart() {
        $.ajax({
            url: "/gd/shoppingcart/add.json",
            data: {
                skuId: [[${sku.id}]],
                count: $("#count").val()
            },
            type: "POST",
            cache: false,
            dataType: "json",
            success: function (result) {
                alert(result.msg);
            },
            error: function (msg) {
                alert("系统错误,请与管理员联系");
            }
        });
    }
</script>
</body>
</html>