<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igalaxy.boot.mapper.od.OdOrderDetailMapper">

    <select id="queryById" parameterType="long" resultType="OdOrder">
        select * from tb_od_order_detail t
        where t.disabled = 0 and t.id = #{id}
    </select>

    <insert id="save" parameterType="OdOrder">
        insert into tb_od_order_detail (
        orderId,
        skuId,
        price,
        `count`,
        createUser,
        createTime,
        updateUser,
        updateTime,
        disabled
        )
        values
        (#{orderId},
        #{skuId},
        #{price},
        #{count},
        #{createUser},
        now(),
        #{updateUser},
        now(),
        0)
        <selectKey resultType="long" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="OdOrderDetail">
        update tb_od_order_detail t
        <if test="count != null">t.name = #{count},</if>
        t.updateUser = #{updateUser},
        t.updateTime = now()
        where t.id = #{id}
    </update>

    <update id="delete" parameterType="OdOrderDetail">
        update tb_od_order_detail t
        set t.updateTime = now(),
        t.updateUser = #{updateUser},
        t.disabled = 1
        where t.id = #{id}
    </update>

    <select id="querySumByOrderId" resultType="float" parameterType="long">
      SELECT COUNT(t.price*t.count)
      FROM tb_od_order_detail t
      WHERE t.orderId = #{orderId} AND t.disabled = 0
    </select>
</mapper>