@charset "UTF-8";
@font-face{
    font-family:'PingFangSC-Light';
    src: url('CN/PingFang_SC_LIght.eot');
    src: url('CN/PingFang_SC_LIght.eot?#iefix') format('embedded-opentype'),
    url('CN/PingFang_SC_LIght.woff') format('woff'),
    url('CN/PingFang_SC_LIght.ttf') format('truetype'),
    url('CN/PingFang_SC_LIght.svg#defineName') format('svg');
}
@font-face{
    font-family:'PingFangSC-Light-about';
    src: url('PingFang_SC_LIght/PingFang_SC_LIght.eot');
    src: url('PingFang_SC_LIght/PingFang_SC_LIght.eot?#iefix') format('embedded-opentype'),
    url('PingFang_SC_LIght/PingFang_SC_LIght.woff') format('woff'),
    url('PingFang_SC_LIght/PingFang_SC_LIght.ttf') format('truetype'),
    url('PingFang_SC_LIght/PingFang_SC_LIght.svg#defineName') format('svg');
}
@font-face{
    font-family:'PingFangSC-Regular';
    src: url('CN/PingFang_SC_Regular.eot');
    src: url('CN/PingFang_SC_Regular.eot?#iefix') format('embedded-opentype'),
    url('CN/PingFang_SC_Regular.woff') format('woff'),
    url('CN/PingFang_SC_Regular.ttf') format('truetype'),
    url('CN/PingFang_SC_Regular.svg#defineName') format('svg');
}
@font-face{
    font-family:'PingFangSC-Semibold';
    src: url('CN/PingFang_SC_Semibold.eot');
    src: url('CN/PingFang_SC_Semibold.eot?#iefix') format('embedded-opentype'),
    url('CN/PingFang_SC_Semibold.woff') format('woff'),
    url('CN/PingFang_SC_Semibold.ttf') format('truetype'),
    url('CN/PingFang_SC_Semibold.svg#defineName') format('svg');
}
@font-face{
    font-family:'PingFangSC-Medium';
    src: url('CN/PingFang_SC_Medium.eot');
    src: url('CN/PingFang_SC_Medium.eot?#iefix') format('embedded-opentype'),
    url('CN/PingFang_SC_Medium.woff') format('woff'),
    url('CN/PingFang_SC_Medium.ttf') format('truetype'),
    url('CN/PingFang_SC_Medium.svg#defineName') format('svg');
}
@font-face{
    font-family:'PingFang_SC_Medium_foot';
    src: url('PingFang_SC_Medium/PingFang_SC_Medium.eot');
    src: url('PingFang_SC_Medium/PingFang_SC_Medium.eot?#iefix') format('embedded-opentype'),
    url('PingFang_SC_Medium/PingFang_SC_Medium.woff') format('woff'),
    url('PingFang_SC_Medium/PingFang_SC_Medium.ttf') format('truetype'),
    url('PingFang_SC_Medium/PingFang_SC_Medium.svg#defineName') format('svg');
}
@font-face{
    font-family:'SFUIDisplay-Medium';
    src: url('EN/SFUIDisplay-Medium.eot');
    src: url('EN/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('EN/SFUIDisplay-Medium.woff') format('woff'),
    url('EN/SFUIDisplay-Medium.ttf') format('truetype'),
    url('EN/SFUIDisplay-Medium.svg#defineName') format('svg');
}
@font-face{
    font-family:'MarkPro';
    src: url('EN/MarkPro.eot');
    src: url('EN/MarkPro.eot?#iefix') format('embedded-opentype'),
    url('EN/MarkPro.woff') format('woff'),
    url('EN/MarkPro.ttf') format('truetype'),
    url('EN/MarkPro.svg#defineName') format('svg');
}
@font-face{
    font-family:'MarkPro-Book';
    src: url('EN/MarkPro-Book.eot');
    src: url('EN/MarkPro-Book.eot?#iefix') format('embedded-opentype'),
    url('EN/MarkPro-Book.woff') format('woff'),
    url('EN/MarkPro-Book.ttf') format('truetype'),
    url('EN/MarkPro-Book.svg#defineName') format('svg');
}
@font-face{
    font-family:'MarkPro-Bold';
    src: url('EN/MarkPro-Bold.eot');
    src: url('EN/MarkPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('EN/MarkPro-Bold.woff') format('woff'),
    url('EN/MarkPro-Bold.ttf') format('truetype'),
    url('EN/MarkPro-Bold.svg#defineName') format('svg');
}
@font-face{
    font-family:'MarkPro-Black';
    src: url('EN/MarkPro-Black.eot');
    src: url('EN/MarkPro-Black.eot?#iefix') format('embedded-opentype'),
    url('EN/MarkPro-Black.woff') format('woff'),
    url('EN/MarkPro-Black.ttf') format('truetype'),
    url('EN/MarkPro-Black.svg#defineName') format('svg');
}
@font-face{
    font-family:'MarkPro-Medium';
    src: url('EN/MarkPro-Medium.eot');
    src: url('EN/MarkPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('EN/MarkPro-Medium.woff') format('woff'),
    url('EN/MarkPro-Medium.ttf') format('truetype'),
    url('EN/MarkPro-Medium.svg#defineName') format('svg');
}
@font-face{
    font-family:'MarkPro-Light';
    src: url('EN/MarkPro-Light.eot');
    src: url('EN/MarkPro-Light.eot?#iefix') format('embedded-opentype'),
    url('EN/MarkPro-Light.woff') format('woff'),
    url('EN/MarkPro-Light.ttf') format('truetype'),
    url('EN/MarkPro-Light.svg#defineName') format('svg');
}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html{font-size:10px;-webkit-text-size-adjust:none;text-rendering:optimizeLegibility}
body{margin:0;overflow-x:hidden;overflow-y:scroll;background-color:#fff;color:#fff;letter-spacing:1px;font-size:62.5%;font-family:"";line-height:1.8;-webkit-backface-visibility:hidden}
/**{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}*/
footer,header,section{display:block}
svg{-webkit-backface-visibility:hidden}
dd,dt,li,p,pre,td,th{line-break:strict;word-break:break-strict;}
a{color:#fff;text-decoration:none}
dd,div,dl,dt,li,ol,p,ul{margin:0;padding:0;list-style-type:none}
em{font-style:normal}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:400}
button,input,select,textarea{border:none;border-radius:0;-webkit-box-shadow:none;box-shadow:none;font-size:inherit;font-family:inherit;line-height:inherit}
input[type=text],textarea{-webkit-appearance:none}
input[type=text]{font-size:12px;}
button:focus,input:focus,select:focus,textarea:focus{outline:0}
hr{border:none;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;vertical-align:middle}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
img{vertical-align:middle}
.clear:after,.menu_row--share:before{display:table;content:" "}
.clear:after{clear:both}
.img-max{width:100%;height:auto}
.img-responsive{height:auto;max-width:100%}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-white{color:#fff}
.text-muted{color:#666}
input.placeholder{color: #fff !important;}
::-webkit-input-placeholder{color:#fff!important}
::-moz-placeholder{color:#fff!important;}
:-moz-placeholder{color:#fff!important;}
:-ms-input-placeholder{color:#fff!important}
:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
.vm{display:table}
.vm_inner{display:table-cell;vertical-align:middle}
.background{background-color:#fefefe}
.background--orange{background-color:#e66700}
.text-orange{color:#e66700}
.opacity0{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.opacity1{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
.visible{display:none!important}
.fiexd{position:fixed;top:0;left:0;width:100%;}
.absolute{position:absolute;top:0;left:0;width:100%}
.MarkPro-Light{font-family: "MarkPro-Light";}
.PingFangSC-Regular{font-family: 'PingFangSC-Regular';}
body{}
body.bottom{margin-bottom:0!important;}
/*float S*/
#fullBg{position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.8; background: #4A4A4A; z-index: 9998;}
#loading{display: none;position: fixed; bottom: 0; left: 50%;transform: translateX(-50%);text-align: center; line-height: 2rem; z-index: 99999; padding: 16px 30px; background: #fff; color: #000;line-height: 40px; font-size: 16px; font-family: 'PingFangSC-Medium';}
#prompt{display: none;position: fixed; top: 50%; left: 50%;transform: translate(-50%,-50%);text-align: center; line-height: 2rem; z-index: 99999; padding: 16px 30px; background: #fff; color: #000;line-height: 40px; font-size: 16px; font-family: 'PingFangSC-Medium';}
#prompt{border-radius: 5px;background:#4A4A4A;color:#fff;box-shadow: 3px 6px 21px -5px #221d1d;}
#prompt div{margin:0 auto;width:40px;height:40px;background-repeat:no-repeat;}
#prompt .iconSuccess{background:url(../img/icon_success.png);}
#prompt .iconError{background:url(../img/icon_error.png);}
#other-wrap{position:relative;opacity:0;z-index:999;}
#overlay-bar{position:fixed;top:0;left:0;width:100vw;height:100vh;background:#fff;z-index:99999;}
#progress{width:0;height:10px;background:#E60012;}
.loadLogo{transform: translateY(50vh); margin-top: -107px; text-align: center;}
#progressNum{transform: translateY(50vh); text-align: center; margin-top: 47px;font-size: 20px; color: #000000; letter-spacing: 6px;font-family: 'MarkPro-Light';}
#right_float{position:fixed;right:70px;right:-webkit-calc(100vh * 0.04861);right:calc(100vh * 0.04861);top:30%;top:-webkit-calc(100vh * 0.3873);top:calc(100vh * 0.3873);width:18px;height:165px;display:none;z-index:999;}
#right_float a{height:100%;display:block;transition:.6s;cursor:pointer;background:url('../img/top_btn.png') no-repeat center top;}
#right_float a:hover{}
#alertMessage{position:fixed;width:720px;height:600px;left:50%;top:50%;transform:translate(-50%,-50%);background:red;z-index:9999;}
#alertMessage h2{padding-top:7px;line-height:214px;font-size: 36px;letter-spacing: 4px;text-align:center;font-family: 'MarkPro-Bold';}
#alertMessage .message{margin:0 auto;width:74.16666%;font-size: 24px;letter-spacing: 2px;line-height: 40px;font-family: 'PingFangSC-Regular';}
#alertMessage .close{width:100px;height:100px;position:absolute;bottom:39px;left:50%;transform:translate(-50%,0);background:url('../img/close_menu_btn.png') no-repeat;}
/*float E*/
/*head S*/
.moreProjects{position:absolute;right:13.2638%;top:-92px;width:320px;}
.home_head{height:100%;height:100vh;background-size:cover;background-repeat:no-repeat;background-position:center center;z-index:99;}
.overhide{height:100%;height:100vh;overflow:hidden;}
.home_head:before{content:".";display:table;font-size:0;}
.home_BG{}
.project_BG{}
.anout_BG{}
.head_info{padding-top:108px;padding-left:100px;}
.head_info .logo{display:block;width:400px;}
.head_info .logo img{width:100%;}
.head_info h1{margin-top:138px;line-height:1.3958;letter-spacing:4px;font-size:48px;font-family: 'PingFangSC-Light';}
.head_info p{margin-top:3px;font-size: 23px;letter-spacing: 2px;font-family:'SFUIDisplay-Medium';}
.menu-btn{position:fixed;top:47px;right:47px;width:100px;height:100px;border-radius:50%;z-index:90;}
.menu-btn .menu-btn_def{position:absolute;top:0;right:0;width:100%;height:100%;background:url("../img/menu.png") no-repeat;transition:0.5s;}
.menu-btn:hover .menu-btn_def{background-image:url("../img/menu_over.png");    transition: all .6s cubic-bezier(.18,.83,.36,1.28);    transform: scale(1.4);opacity: 0.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.menu-background{position:absolute;top:0;right:0;width:100%;height:100%;background-image:url("../img/menu_over.png");transform: scale(1.4);opacity: 0.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.menu-btn:hover .menu-background{transform:scale(1);opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.menu-btn.close .menu-btn_def{opacity:0;}
.menu-btn.close .menu-background{position:fixed;top:47px;right:47px;width:100px;height:100px;transform: scale(1);background-image:url("../img/close_menu_btn.png");opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.menu-btn.close:hover .menu-background{background-image:url("../img/close_menu_btn_over.png");}
.menu-overlay-outer{position: absolute; top:47px;right:47px; z-index: 10; width:100px;height:100px;overflow:hidden;}
.menu-overlay-outer.open{position: fixed; top:0; right:0; width: 100%; height: 100%;}
.menu-overlay-outer .menu-overlay{position:absolute;right:47px;top:47px;width:100px;height:100px;background:#E60012;border-radius: 50%;opacity: 0.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.menu-overlay-outer.open  .menu-overlay{opacity: 1.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.slideBottom{position:absolute;left:0;bottom:41px;width:100%;height:76px;background:url(../img/scroll_btn.png) no-repeat center bottom;}
.slideBottom p{height:100%;line-height:25px;font-size: 18px;letter-spacing: 5px;text-align:center;cursor:pointer;font-family:'PingFangSC-Medium';}
.menu{height:100%;visibility: hidden;transition: .2s ease 0s;z-index:11;opacity: 0.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background: #E60012;}
.menu_inner{padding:70px 0 49px 70px;}
.menu_link { display: inline-block;margin-bottom: 48px;height: 24px;font-size: 24px;line-height: 1; letter-spacing:6px;font-family: 'PingFangSC-Semibold';white-space: nowrap;}
.menu_link .zn{position:absolute;}
.menu_link .en{visibility: hidden;position:relative;padding-right: 46px;font-size: 26px;letter-spacing: 2px;font-family:"MarkPro-Bold";}
.menu_link .en:after{content: ''; position: absolute; right:10px; top:7.5px; display: inline-block; width: 16px; height: 16px;background:url('../img/share.png') no-repeat;background-position:0 -18px; -webkit-transition: .2s cubic-bezier(.18,.59,.36,.76); transition: .2s cubic-bezier(.18,.59,.36,.76); -webkit-transform: scaleX(1); transform: scaleX(1); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
.menu_link:hover .zn{display:none;}
.menu_link:hover .en{visibility:visible;}
.menu_link:hover .en:after{right:0;}
.j_matrixLeft{opacity:0;transform: translate(30px, 0);}
.menu_row{padding-top:104px;width:335px;}
.menu_row-left{float:left;width:144px;}
.menu_emial,.menu_tel{display:block;line-height: 30px;font-size: 14px;letter-spacing: 1px;font-family:"MarkPro-Bold";}
.menu_row--share{padding-top:19px;height:18px;}
.menu_share{float:left;height:18px;}
.menu_share:before{content:"";display:block;margin:0 auto;width:20px;height:100%;background:url("../img/share.png") no-repeat;}
.icon-instagram{padding-left:3px;width: 28px;}
.icon-instagram:before{width:18px;background-position:-49px 0;}
.icon-facebook,.icon-twitter{width:40px;}
.icon-facebook:before{width:9px;background-position:-40px 0;}
.icon-twitter:before{background-position:0 0;}
.icon-sina{padding-left:9px;width:20px;}
.icon-sina:before{background-position:-20px 0;}
.menu_row-right{float:right;}
.menu_row-right img{width:100px;height:100px;}
.menu_subscribe{padding-top:65px;width:335px;}
.menu_subscribe p{height: 20px; line-height: 20px;font-family: 'PingFangSC-Medium';font-size: 14px;letter-spacing: 4px;}
.menu_subscribe div{position:relative;margin-top:11px;height:46px;border:solid 1px #fff;}
.menu_subscribe div input{padding-left:13px;width:277px;height:44px; line-height: 46px;letter-spacing: 4px;border: none; background:#4A4A4A; background: transparent;vertical-align:middle;font-size: 15px;font-family:"MarkPro-Light";}
.arrowIcon{width:16px;height:16px;background:url(../img/share.png) no-repeat;background-position:0 -18px;}
.menu_subscribe div a{display:inline-block;vertical-align:middle;}
.footer{padding-top:85px;line-height:46px;font-size:12px;text-align:center;font-family: 'PingFang_SC_Medium_foot';}
/*滚动条*/
.menu-scroll{overflow-y:auto;height:100%;}
.mCustomScrollBox{overflow:hidden;height:100%;}
/*head E*/

.home_cont{z-index:0;padding-bottom:131px;}
.wrap{padding:146px 4.861111% 0 3.2638%;margin-left:auto;margin-right:auto;max-width:1440px;}
.home_row{position:relative;}
.home_row img{width:100%;}
.home_row h2{margin-left:-1.18055%;width:336px;position:absolute;line-height: 90px;font-size: 64px;letter-spacing: 20px;z-index:9;font-family: 'PingFangSC-Semibold';}
.home_row h2 .black{color:#000;}
.home_row .row_bgBoard{position:absolute;width:72.77777%;height:100%;background:url("../img/branding_BG.png") no-repeat;background-size:100%;}
.home_row .arrowIcon{display:block;}
.home_row .row_bgBoard p{line-height:50px;font-size: 24px;letter-spacing: 4px;font-family: 'PingFangSC-Light';}
.home_row .row_info{position:absolute;}
.home_row .row_otherName{position:relative;display:block;line-height: 23px;font-size: 18px;letter-spacing: 20px;font-family: 'MarkPro-Black';}
.home_row .row_otherName:after{content:"";width:197px;position:absolute;border-top:solid 2px #fff;}
/*.row_first{height:777px;}*/
.row_first h2{top:49px;left: 790.469px;}
.row_first .row_bgBoard p{padding-top:140px;padding-left:95px;}
.row_first .arrowIcon{margin-top:199px;margin-left:95px;}
.row_first .row_info{bottom:0;right:209px;}
.row_first .row_info img{margin-top: -10px;width:100%;}
.row_first .row_otherName{margin-left: 272px;}
.row_first .row_otherName:after{top:-27px;left:30px;}
.row_second{margin-top:108px;/*height:907px;*/}
.row_second .row_bgBoard{z-index:2;right:58px;}
.row_second .row_otherName{float: right;padding-top: 108px; padding-right: 116px;}
.row_second .row_otherName:after{left:0;bottom:-30px;}
.row_second .row_bgBoard p{float: right; padding-right: 97px;padding-top:69px;width:364px;}
.row_second h2{width:610.88px;top: 65px;right:891px;line-height: 100px;font-size: 72px;letter-spacing: 15px;font-family:'PingFang-SC-Medium';}
.row_second .row_info{z-index:3;top:198px;left:97px;font-size:0}
.row_second .row_info img{width:48.6%}
.row_second .img_top{padding-top:42px;padding-left:2.4675%;}
.row_second .arrowIcon{float: right; margin-right: 116px; margin-top: 87px;}
.home_product{position:relative;margin:221px auto 0;padding:0 13.2638%;max-width:1058px;}
.product_item{float:left;width:46.97542%;height:596px;opacity:0;visibility: hidden;}
.product_item a{display:block;height:100%;overflow:hidden;background-size:cover;background-repeat: no-repeat;background-position:center center;}
.product_item img{width:100%;height:100%;}
.product_item:nth-child(2n){margin-left:6.0491%;margin-bottom:59px;}
.product_item:nth-child(2n+1){margin-top:-92px;}
.product_item h2{padding-top:98px;}
.product_item .arrowIcon{bottom: 48.8%;/*margin-top:156px;margin-bottom:194px;*/}
.product_font{height:100%;text-align:center;display:none;}
.product_font h2{line-height:36px;font-size: 36px;letter-spacing: 10px;white-space:nowrap;font-family: 'MarkPro-Bold';}
/*.product_font .arrowIcon{display:inline-block;}*/
.product_font span{position: absolute;bottom: 66px;left: 50%;transform: translateX(-50%);line-height:24px;font-size: 24px;letter-spacing: 6.67px;font-family:"MarkPro-Book";white-space:nowrap;}
.product_item a:hover{}
.product_item a:hover img{display:none;}
.product_item a:hover .product_font{display:block;background-color:#e60012;}

footer{width:100%;background:#4A4A4A;}
.wrap_foot{max-width:1440px;margin:0 auto;padding:80px 118px 79px 134px;}
.foot_left{float:left;}
.logo_fl{padding-top:25px;height:50px;line-height:50px;font-size:0;}
.logo_fl img{width:125px;height:41px;}
.logo_fl span{position:relative;margin-left:18px;padding-left:19px;font-size: 36px;letter-spacing: 9px;vertical-align:middle;font-family: 'PingFangSC-Light';}
.logo_fl span i{position:absolute;top:-4px;left:0;font-style:normal;}
.compay{width:261px;line-height:38px;font-size: 14px;letter-spacing: 13px;text-align:center;font-family: 'PingFangSC-Light';}
.foot_right .font_fl{display:none;}
.font_fl{margin-top:116px;line-height:12px;font-size:0;font-family: 'PingFang_SC_Medium_foot';}
.font_fl span{font-size:12px;}
.font_fl span:first-child{display:inline-block;margin-right:39px;font-family: 'MarkPro-Medium';}
.foot_right{float:right;}
.foot_right .menu_row{padding-top:0;}

/*about*/
.head_public{height:60px;line-height:60px;}
.head_about{margin-left:64px;margin-top:70px;}
.project_BG .allProjects{z-index:9;}
.allProjects{width:320px;}
.head_public a{position:relative;display:block;text-indent:19px;font-size: 22px;letter-spacing: 4px;background-color: #000;font-family: MarkPro-Bold;}
.head_public a::after{content:"";position: absolute; top: 0; left: 0;width: 100%; height: 100%; background-color: #222; z-index: 0;transform: scale(0,1);transition: all .35s cubic-bezier(.23,1,.32,1) 0s;}
.head_public a:hover::after{transform: scale(1,1);}
.head_public span{position:relative;z-index:1;white-space: nowrap;}
.head_public span:nth-child(2){display:none;}
.head_public .arrowIcon{top:50%;left:auto;right:23px;transform: translate(0,-50%);z-index:1;}
.about_container{margin:-102px auto 132px;width:86.11112%;background:#fff;color:#000;box-shadow: 0 2px 40px 0 rgba(0,0,0,0.05);}
.about_container .center_cont{padding:0 4.6774%;}
.row_about{padding-top:100px;}
.first_rowAbout{padding-top:91px;}
.last_rowAbout{padding-top:104px;padding-bottom:97px;}

.row_about h2{position:relative;text-indent:31px;font-size: 30px;letter-spacing: 3px;line-height: 42px;font-family: 'MarkPro';}
.row_about h2:after{content:"";position:absolute;top:6px;left:0;width:13px;height:28px;background:url('../img/share.png?1') no-repeat;background-position:-16px -18px;}
.info_about{padding-top:50px;font-size: 22px;letter-spacing: 4px;line-height: 40px;font-family: 'PingFangSC-Light-about';}
.last_rowAbout .info_about{line-height: 30px;letter-spacing: 2px;font-size: 20px;font-family: 'MarkPro-Medium';}
.last_rowAbout .info_about p{float:left;}
.last_rowAbout .info_about p:first-child{padding-right:92px;}
.services_about{}
.services_about img{width:100%;}
/*.shiftCenter{opacity:0;}*/
@keyframes left
{
    from {transform: translateX(-600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@-moz-keyframes left
{
    from {transform: translateX(-600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@-webkit-keyframes left
{
    from {transform: translateX(-600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@-o-keyframes left
{
    from {transform: translateX(-600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@keyframes right
{
    from {transform: translateX(600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@-moz-keyframes right
{
    from {transform: translateX(600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@-webkit-keyframes right
{
    from {transform: translateX(600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
@-o-keyframes right
{
    from {transform: translateX(600px);opacity:0;}
    to {transform: translateX(0px);opacity:1;}
}
.left_anim{animation:left 0.5s forwards;}
.right_anim{animation:right 0.5s forwards;}
.left_about{float:left;transform: translateX(-100%);opacity:0;}
.right_about{float:right;transform: translateX(-100%);opacity:0;}
/*.info_service{float:left;padding-top:27px;font-family: 'PingFangSC-Regular';}*/
.info_service h3{line-height: 50px;letter-spacing: 4px;font-size: 36px;}
.info_service p{padding-top:53px;line-height: 33px;letter-spacing: 6px;font-size: 20px;}
.first_serviceAbout{padding-top:79px;}
/*.first_serviceAbout .info_service{padding-left:13.87096%;padding-top:8px;}*/
.first_serviceAbout .info_service{width:32.74193%;}
.first_serviceAbout .img_service{width:53.38709%;}
.second_serviceAbout{padding-top:170px;}
/*.second_serviceAbout .info_service{padding-left:10%;width:26.69354%;}*/
.second_serviceAbout .info_service{width:28.14516%;}
.second_serviceAbout .img_service{padding-right:5.16129%;width:58.064516%;}
.third_serviceAbout{padding-top:163px;}
.third_serviceAbout .img_service{width:43.95161%;}
/*.third_serviceAbout .info_service{padding-left:13.38709%;width:26.69354%;}*/
.third_serviceAbout .info_service{width:42.58064%;}
.fourth_serviceAbout{padding-top:143px;}
/*.fourth_serviceAbout .info_service{padding-left:6.7441%;width:43.25706%;}*/
.fourth_serviceAbout .info_service{width:30.08064%;}
.fourth_serviceAbout .img_service{width:50%;}
.fifth_serviceAbout{position:relative;margin-top:158px;background:#000;}
.fifth_serviceAbout .img_service{padding-left:12.58064%;width:26.451612%;}
.fifth_serviceAbout .info_service{position:absolute;top:50%;right:0;width:39.1129%;transform:translateY(-50%);}
.fifth_serviceAbout .left_about{transform:inherit;opacity:1;}
.fifth_serviceAbout .right_about{transform: translateY(-50%);opacity:1;}
/*project list*/
.nav{margin-top:40px;width:100%;height:60px;}
#navigate{margin-left:384px;max-width:780px;width:40.988%;height:60px;line-height:60px;background:#000;text-align:center;}
#navigate a{box-sizing:border-box;float:left;position:relative;border-left:solid 1px #fff;width:33.33333%;height:60px;overflow:hidden;font-size: 20px;color: #FFFFFF;}
#navigate a span{letter-spacing: 5px;font-family:'PingFangSC-Medium';opacity:0.5;}
#navigate a i{display:none;letter-spacing: 3px;font-style:normal;font-family: 'MarkPro-Book';opacity:1;}
/*#navigate a:after{content: ''; width: 100%; height: 100%; background-color: #e60012; position: absolute; bottom: 0; left: 0; transition: 500ms cubic-bezier(0.19, 1, 0.22, 1); opacity: 0;}*/
/*#navigate .active,#navigate a:hover{opacity:1;}*/
/*#navigate .active:after,#navigate a:hover:after{height:6px;opacity:0.5;}*/
#navigate .active span{display:block;opacity:1;}
#navigate .active i{display:none;}
#navigate a:hover span{display:none;}
#navigate a:hover i{display:block;}
#navigate a:first-child{border:none;}
#navigate.navActive{position: fixed; top: 0; left: 0;margin-top:70px; z-index: 9;}
.list_container{margin-bottom:165px;}
/*project show*/
.head_show{width:525px;}
.head_show a{text-indent:238px;}
.head_show .arrowIcon{right:auto;left: 23px;transform:translate(0,-50%) rotate(180deg);}
.show_container{margin:-156px auto 100px;padding: 0 15.2777%;max-width:1013px;}
.show_title{padding-top:81px;padding-bottom:52px;margin:0 auto;max-width:500px;background:#e60012;text-align:center;}

.show_title h2{line-height:36px;font-size: 36px;letter-spacing: 10px;font-family: 'MarkPro-Bold';}
.show_title span{line-height:72px;font-size: 24px;letter-spacing: 6.67px;font-family: 'MarkPro-Book';}
.show_info{padding-top:36px;width:100%;font-size: 22px;color: #000000;letter-spacing: 4px;line-height: 40px;}
#show_content{position:relative;margin-top: 115px;}
#show_content:after{content:"";position:absolute;top:0;left:50%;width:160px;height:4px;background:#000;transform:translate(-50%,0);}
.show_pic{padding-top:36px;}
.show_pic img{width:100%;}
.projects .allProjects{float:right;padding-top:76px;padding-bottom:77px;}
.show_list{position:relative;}
.show_list li{display: table;float:left;width:220px;height:247px;/*width:24.96%;margin-left:12.53701%;overflow:hidden;*/}
.show_list li:first-child{/*margin-left:0;*/}
.show_list li:nth-child(2){position: absolute; margin-left: 0; left: 50%; transform: translateX(-50%);}
.show_list li:last-child{float:right;}
.show_list a{display: table-cell; width: 100%; height: 100%; vertical-align: middle; text-align: center;background-size:cover;background-repeat:no-repeat;background-position:center center;}
/*.show_list .show_img{height:100%;overflow:hidden;}*/
/*.show_list li img{max-width: 100%; vertical-align: middle; max-height: 298px;}*/
.show_list .show_font{position:relative;height:100%;background:#e60012;box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24);text-align:center;display:none;}
.show_list .show_font h2{padding-top:40px;height:36px;line-height:36px;font-size: 18px; color: #FFFFFF; letter-spacing: 5px;overflow:hidden;font-family: 'MarkPro-Bold';}
.show_list .show_font .arrowIcon{position: absolute;top:50%;left:50%;}
.show_list .show_font .text{position: absolute;left: 0;bottom: 32px; text-align: center; width: 100%;line-height:15px;font-size: 12px; color: #FFFFFF; letter-spacing: 3.33px; font-family: 'MarkPro-Book';}
.show_list li a:hover img{display:none;}
.show_list li a:hover .show_font{display:block;}
@media only screen and (max-width: 1699px){
}
@media only screen and (max-width: 1299px){
    .head_info .logo{width:300px;}
    .head_info h1{font-size:32px;}
    .wrap_foot{width:90%;padding-right:0;padding-left:0;}
    .home_row h2{width:200px;font-size:40px;letter-spacing:10px;}
    .home_row .row_bgBoard{text-align:center;}
    .home_row .row_bgBoard p{padding-left:5%; padding-right:5%;line-height: 30px;font-size: 20px;letter-spacing:0;}
    .home_row .row_otherName{letter-spacing: 15px;}
    .row_first .row_otherName{margin-left:100px;}
    .row_first .row_info{right:100px;width:50%;}
    .row_first .arrowIcon{margin-top:100px;}
    .row_first .row_otherName:after{top: -12px;width: 140px;}
    .row_second h2{width:390.38px;}
    .row_second .arrowIcon{margin-top: 47px;}
    .row_second .row_otherName{padding-top: 58px;}
    .row_second .row_info{width:50%;left: 30px;bottom:0;top: inherit;}
    .product_item:nth-child(2n){margin-left:6.04916%;}
}
@media only screen and (max-width: 980px){
    .home_row .row_otherName{letter-spacing: 10px;line-height:23px;font-size:18px;}
    .wrap_foot{width:420px;padding-right:0;padding-left:0;}
    .foot_left,.foot_right{width:100%;}
    .foot_left .font_fl{display:none;}
    .foot_right{margin-top: 35px;}
    .menu_subscribe{padding-top:35px;}
    .foot_right .font_fl{display:block;margin-top: 58px;}
    .row_first .row_otherName{margin-left:71px;}
    .row_first .row_otherName:after{top:-7px;left:10px;width:149px;}
    .home_row h2{width:160px;top:0;font-size: 30px;}
    .home_row .row_bgBoard p{width:40%;font-size:18px;padding-top:80px;}
    .row_first .arrowIcon{margin-top:16px;margin-left:45px;}
    .row_second{margin-top:58px;}
    .row_second h2{width:235px;}
    .row_second .row_bgBoard{right:0;}
    .row_second .arrowIcon{margin-right: 56px;margin-top: 37px;}
    .row_second .row_otherName{padding-top: 28px;}
    .row_second .row_otherName:after{bottom: -10px;}
    .row_second .row_bgBoard p{padding-top: 20px;}
    .home_product{margin-top:161px;}
    /*.product_font h2{padding-top: 68px;}*/
    .product_item{width: 100%;margin: 20px 0 0 !important;height: 720px;}
    /*.product_item .arrowIcon{margin-top:76px; margin-bottom:76px;}*/
    .info_about{font-size:16px;line-height: 30px;}
    /*.info_service,.first_serviceAbout .info_service{padding-top: 0;}*/
    /*.info_service{width:50%!important;}*/
    /*.info_service h3{line-height: 30px;font-size:22px;letter-spacing:0;}*/
    /*.info_service p{padding-top:13px;line-height: 23px;font-size:14px;}*/
    /*.fifth_serviceAbout .info_service{padding-top:0;padding-left: 10%;}*/
    .last_rowAbout .info_about{font-size:14px;}
    #alertMessage{width:50%;height:450px;}
    #alertMessage h2{padding-top:0;line-height: 160px;font-size:26px;letter-spacing:0;}
    #alertMessage .message{font-size:14px;line-height:20px;letter-spacing:0;}
    #alertMessage .close{bottom: 10px;}
    .head_show{width: 337px;}
    .head_show a { text-indent: 62px; }
    .moreProjects{width:45%;}
    #navigate a{font-size:14px;}
    #navigate a span{letter-spacing:0;}
    #navigate a i{letter-spacing:0;}
    .show_list li{width:200px;height:219px;margin-left:20px;margin-bottom:15px;}
    .show_list li:nth-child(2){margin-left:20px;position:inherit;transform: translateX(0);left:0;float:left;}
    .show_list li:last-child{float:left;}
}
@media only screen and (max-width: 600px){
    #right_float{right:3px;}
    .head_info{padding-top:36px;padding-left:36px;}
    .head_info .logo{width:150px;}
    .head_info h1{font-size:14px;}
    .menu-btn,.menu-btn.close .menu-background,.menu-overlay-outer,.menu-overlay-outer .menu-overlay{top:10px;right:10px;}
    .head_info p{font-size: 12px;}
    .menu_link{margin-bottom:24px;font-size: 16px;}
    .wrap_foot{width:auto;padding:6.9%;}
    .font_fl span:first-child{width:100%;}
    .home_row h2{width:104px;font-size: 16px;line-height: 50px;}
    .home_row .row_bgBoard p{font-size:14px;line-height:20px;}
    .row_first .row_bgBoard p{padding-top: 40px;}
    .row_first .row_info{right:50px;}
    .home_row .row_otherName{letter-spacing:5px;font-size: 12px;}
    .row_second .arrowIcon{margin-top: 17px;margin-right: 16px;}
    .row_first .row_otherName{margin-left:5px;}
    .row_first .row_otherName:after{top: 2px; left: 10px; width: 81px;}
    .row_second h2{width:165px;}
    .row_second .row_otherName{padding-right:16px;padding-top: 8px;}
    .row_second .row_otherName:after{width: 143px;}
    .row_second .img_top{padding-left: 2%;}
    .row_second .row_info{left: 5px;}
    .product_item{height:360px;}
    .product_font h2{padding-top:38px;font-size:30px;}
    /*.product_item .arrowIcon{margin-top:76px; margin-bottom:76px;}*/
    .product_font span{bottom:33px;font-size:20px;}
    .head_about{margin-left:34px;margin-top:31px;}
    .allProjects{width:160px;}
    .head_public .arrowIcon{display:none;}
    .head_public a{text-indent:0;text-align:center;font-size: 14px;}
    .head_public span label{display:none;}
    .head_list span:nth-child(2){display:block;}
    .head_list span:first-child{display:none;}
    #navigate{margin-left:194px;}
    #navigate.navActive{margin-top:31px;}
    .head_show{width: 194px;}
    .show_list li{width:100%;margin-left: 0;margin-bottom:15px;}
    .show_list li:nth-child(2){margin-left: 0;}
    .show_title h2{font-size:28px;}
    .show_title span{font-size:18px;}
}