<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igalaxy.boot.mapper.od.OdOrderMapper">

    <sql id="AllField">
        t.id,
        t.`number`,
        t.`sum`,
        t.`name`,
        t.description,
        t.userId,
        t.payWay,
        t.status,
        t.expressId,
        t.expressNumber,
        t.createUser,
        t.createTime,
        t.updateUser,
        t.updateTime,
        t.disabled
    </sql>
    <select id="queryById" parameterType="long" resultType="OdOrder">
        select
        <include refid="AllField"/>
        from tb_od_order t
        where t.disabled = 0 and t.id = #{id}
    </select>

    <insert id="save" parameterType="OdOrder">
        insert into tb_od_order (
        `number`,
        `sum`,
        `name`,
        description,
        userId,
        payWay,
        status,
        createUser,
        createTime,
        updateUser,
        updateTime,
        disabled
        )
        values
        (#{number},
        #{sum},
        #{name},
        #{description},
        #{userId},
        #{payWay},
        #{status},
        #{createUser},
        #{createTime},
        #{updateUser},
        #{updateTime},
        0)
        <selectKey resultType="long" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="OdOrder">
        update tb_od_order t
        SET
        <if test="payWay != null">t.payWay = #{payWay},</if>
        <if test="status != null">t.status = #{status},</if>
        <if test="expressId != null">t.expressId = #{expressId},</if>
        <if test="expressNumber != null">t.expressNumber = #{expressNumber},</if>
        t.updateUser = #{updateUser},
        t.updateTime = #{updateTime}
        where t.id = #{id}
    </update>

    <update id="updateOdOrderByNumber" parameterType="OdOrder">
        update tb_od_order t
        SET
        <if test="payWay != null">t.payWay = #{payWay},</if>
        <if test="status != null">t.status = #{status},</if>
        t.updateUser = #{updateUser},
        t.updateTime = #{updateTime}
        where t.number = #{number}
    </update>

    <select id="queryByNumber" parameterType="String" resultType="OdOrder">
        select
        <include refid="AllField"/>
        from tb_od_order t
        where t.disabled = 0 and t.number = #{number}
    </select>

    <update id="delete" parameterType="OdOrder">
        update tb_od_order t
        set t.updateTime = #{updateTime},
        t.updateUser = #{updateUser},
        t.disabled = 1
        where t.id = #{id}
    </update>

    <select id="queryPage" parameterType="map" resultType="OdOrder">
        select
        <include refid="AllField"/>,
        e.name expressName
        from tb_od_order t
        LEFT JOIN tb_ep_express e ON t.expressId = e.id AND e.disabled = 0
        where t.disabled = 0
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="userId != null">
            and t.userId = #{userId}
        </if>
        order by t.createTime desc
        <include refid="Pager.mysqlPage"/>
    </select>

    <select id="queryPageCount" parameterType="map" resultType="int">
        select
        COUNT(1)
        from tb_od_order t
        where t.disabled = 0
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="userId != null">
            and t.userId = #{userId}
        </if>
    </select>
</mapper>