<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igalaxy.boot.mapper.gd.GdSKUMapper">

    <select id="queryFirstByProductId" parameterType="long" resultType="GdSKU">
        select * from tb_gd_sku t
        where t.disabled = 0 and t.productId = #{productId}
        order by t.sort
        limit 0,1
    </select>

    <select id="queryByNumber" parameterType="string" resultType="GdSKU">
        select * from tb_gd_sku t
        where t.disabled = 0 and t.number = #{number}
    </select>

</mapper>