<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的收货地址</title>
    <link rel="stylesheet" type="text/css" href="/css/web/common.css"/>
</head>
<body>
<dev th:each="address:${list}">
    <!--th:text="'商品编号:'+${shopping.skuId}"></>-->
    <p th:text="|姓名:${address.userName}|"></p>
    <p th:text="|电话:${address.telNumber}|"></p>
    <p th:text="|${address.countryName} ${address.provinceName} ${address.cityName} ${address.nationalCode}|"></p>
    <p>-----------------------------</p>
</dev>
</body>
</html>