<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igalaxy.boot.mapper.auth.AuthRoleResourceMapper">

    <update id="delete" parameterType="AuthRoleResource">
        update tb_auth_role_resource
        set updateTime = now(),
            updateUser = #{updateUser},
            disabled = 1
        where id = #{id}
    </update>

    <insert id="save" parameterType="AuthRoleResource">
        insert into tb_auth_role_resource
        (roleId, resourceId, createTime, createUser, updateTime, updateUser, disabled)
        values
        (#{roleId}, #{resourceId}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, 0)
        <selectKey resultType="long" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="queryById" parameterType="long" resultType="AuthRoleResource">
        SELECT
        res.`id` resourceId,
        rol.`roleId`,
        res.`name` resourceName,
        rol.`id`,
        res.`parentId`,
        role.name roleName
        FROM
        tb_auth_resource res
        LEFT JOIN tb_auth_role_resource rol
        ON res.`id` = rol.`resourceId`
        AND rol.`disabled` = 0
        left join tb_auth_role role
            on role.id = rol.roleId
        WHERE rol.id = #{id}
    </select>

    <update id="deleteByRoleIdResourceId" parameterType="map">
        update tb_auth_role_resource
        set updateTime = #{updateTime},
        updateUser = #{updateUser},
        disabled = 1
        where roleId = #{roleId} AND resourceId = #{resourceId} AND disabled = 0
    </update>

</mapper>