@font-face{
    font-family:'PingFangSC-Light1';
    src: url('http://image.gogocbd.com/font/CN/font-spider/PingFang_SC_LIght.ttf') format('truetype')
}
@font-face{
    font-family:'PingFangSC-Regular1';
    src: url('http://image.gogocbd.com/font/CN/font-spider/PingFang_SC_Regular.ttf') format('truetype')
}
@font-face{
    font-family:'MarkPro-Bold1';
    src: url('http://image.gogocbd.com/font/EN/font-spider/MarkPro-Bold.ttf') format('truetype')
}
@font-face{
    font-family:'MarkPro-Book1';
    src: url('http://image.gogocbd.com/font/EN/font-spider/MarkPro-Book.ttf') format('truetype')
}
.PingFangSC-Light1{font-family:"PingFangSC-Light1"!important;}
.PingFangSC-Regular1{font-family:"PingFangSC-Regular1"!important;}
.MarkPro-Bold1{font-family:"MarkPro-Bold1"!important;}
.MarkPro-Book1{font-family:"MarkPro-Book1"!important;}